.ListSearch-search {
  display: block;
  margin: 0 auto;
}

.ListSearch-list {
  list-style: none;
  padding: 0;
  display: inline-block;
}

.ListSearch-list li {
  margin: 5px auto;
  background: rgba(0, 0, 0, 0.25);
  padding: 5px 10px;
}
